@import 'primeicons/primeicons.css';
@import 'mapbox-gl/dist/mapbox-gl.css';

@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@plugin "@tailwindcss/typography";

/*
	The default border color has changed to `currentColor` in Tailwind CSS v4,
	so we've added these compatibility styles to make sure everything still
	looks the same as it did with Tailwind CSS v3.

	If we ever want to remove these styles, we need to add an explicit border
	color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@custom-variant dark (&:where(.dark, .dark *));

/* Typography plugin */
@utility prose {
	a {
		text-underline-offset: 0.2rem;
		text-decoration: underline dashed;
	}
}

@theme {
	--text-2xs: 0.65rem;
	--text-2xs--line-height: 0.8rem;
	--text-3xs: 0.55rem;
	--text-3xs--line-height: 0.7rem;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	min-height: 100svh;
}

body.dark {
	background: var(--p-surface-900);
}

.rtl {
	direction: rtl;
	max-width: 70ch;
}

:root {
	--p-text-color: var(--p-surface-200);
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.3 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/
.github-fork-ribbon {
	width: 12.1em;
	height: 12.1em;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	z-index: 9999;
	pointer-events: none;
	font-size: 13px;
	text-decoration: none;
	text-indent: -999999px;
}
.github-fork-ribbon:active,
.github-fork-ribbon:hover {
	background-color: rgba(0, 0, 0, 0);
}
.github-fork-ribbon:after,
.github-fork-ribbon:before {
	position: absolute;
	display: block;
	width: 15.38em;
	height: 1.54em;
	top: 3.23em;
	right: -3.23em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.github-fork-ribbon:before {
	content: '';
	padding: 0.38em 0;
	background-color: var(--p-sky-600);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	-webkit-box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
	pointer-events: auto;
}
.github-fork-ribbon:after {
	content: attr(data-ribbon);
	color: #fff;
	font:
		700 1em 'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.54em;
	text-decoration: none;
	text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
	text-align: center;
	text-indent: 0;
	padding: 0.15em 0;
	margin: 0.15em 0;
	border-width: 0.08em 0;
	border-style: dotted;
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.7);
}
/*# sourceMappingURL=gh-fork-ribbon.min.css.map */
